.tableContainer {
  position: relative;
}
.table {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 10px;
  border-radius: 0;
  color: #fff;
  /* margin-bottom: 20px; */
  overflow: hidden;
  width: 100%;
}

.searchPanel {
  background: #000;
  border: 1px solid var(--color-solitude);
  position: absolute;
  top: 35px;
  /* bottom: 30px; */
  right: 10px;
  width: 380px;
  z-index: 100;
}

/* ---------------- */
/* Table Head       */
/* ---------------- */
.tableHead {
  /* background-color: #36304a; */
  background-color: rgba(20, 10, 30, 0.05);
  border-radius: 10px 10px 0 0;
  /* background-color: var(--color-gray); */
  border: 0;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  /* display: none; */
}

.tableHead tr th {
  padding: 22px 0;
}

.tableHead th {
  @apply text-teal-600;
  background-color: rgba(20, 10, 30, 0.4);
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  font-weight: 100 !important;
  /* font-weight: unset; */
}

.tableHead tr th {
  /* text-align: left; */
}
.tableHead tr th:nth-child(1) {
  background-color: rgba(33 28 66, 0.09);
  padding-left: 20px;
  text-align: left;
  max-width: 15px;
}

.tableHead tr th:nth-child(2) {
  padding-left: 10px;
  max-width: 120px;
}
.tableHead tr th:nth-child(3) {
  /* text-align: center; */
  /* padding-left: 15px; */
  max-width: 100px;
}

.tableHead tr th:nth-child(4),
.tableHead tr th:nth-child(5) {
  text-align: center;
  max-width: 120px;
}

.tableHead tr th:last-of-type {
  font-weight: 600;
  padding-right: 15px;
  text-align: right;
}

.tableBody tr td {
  background-color: rgba(20, 10, 30, 0.4);
  vertical-align: middle;
}

.tableBody tr:nth-child(odd) {
  /* background-color: rgba(33, 28, 66, 0.2); */
}
.tableBody tr:nth-child(even) {
  background-color: rgba(33, 28, 66, 0.2);
}

@media screen and (max-width: 992px) {
  .tableHead {
    display: none;
  }

  .table tr {
    background-color: rgba(33, 28, 66, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 15px 20px; */
    border-bottom: 2px solid black;
    width: 100%;
  }
  .table tr {
    /* padding: 5px 0 !important; */
    max-width: 100% !important;
    width: 100% !important;
  }

  .tableBody tr td:nth-child(1) {
    display: none;
  }

  .tableBody tr td {
    display: table-row;
    padding: 5px 20px 15px;
    width: 100% !important;
  }

  .table tr td {
    text-align: left !important;
    width: 100% !important;
  }

  .table tr td::before {
    color: cornsilk;
    font-size: 12px;
  }
  .table tr td:nth-of-type(1) {
    display: none;
  }
  .table tr td:nth-of-type(2)::before {
    content: 'Total Deposits';
  }
  .table tr td:nth-of-type(3)::before {
    content: 'Prize (Excludes LOOT Box)';
  }
  .table tr td:nth-of-type(4)::before {
    content: 'Winners';
  }
  .table tr td:nth-of-type(5)::before {
    content: 'Date';
  }
}

/* ---------------- */
/* Table Body       */
/* ---------------- */
@media screen and (min-width: 992px) {
  .tableHead tr th {
    text-align: left;
  }

  .tableBody tr {
    height: 50px;
    width: 100%;
    text-align: left;
    /* line-height: 4; */
  }

  .tableBody tr td:nth-child(1) {
    padding-left: 15px;
    max-width: 55px !important;
    padding-left: 10px;
    width: 5% !important;
  }
  .tableBody tr td:nth-child(2) {
    padding-left: 10px;
    max-width: 210px !important;
    width: 25% !important;
  }

  .tableBody tr td:nth-child(3) {
    max-width: 310px !important;
    width: 40% !important;
  }
  .tableBody tr td:nth-child(4) {
    @apply text-center;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 310px !important;
    width: 10% !important;
  }
  .tableBody tr td:nth-child(5) {
    text-align: right;
  }
}

/* Cell Styles */
.tokenFilter {
  width: 100%;
}
.tokenName {
  display: flex;
  align-items: center;
}

.filterRange {
  width: 100%;
}
.filterRange input {
  display: block;
  width: 100%;
}
.filterRange input:nth-of-type(2) {
  margin-top: 5px;
}

/* Pagination Component */
.tableDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.searchParametersContainer .label {
  font-size: 12px;
  margin-right: 10px;
}

.records {
  margin-right: 10px;
}

/* Pagination Component */
.pagination {
  background-color: #36304a;
  margin-bottom: 0px;
}
