.mainnet {
  background-color: rgba(53, 240, 208, 1);
  display: inline-block;
  border-radius: 99999px;
  width: 10px;
  height: 10px;
}
.testnet {
  background-color: #ffc65d;
  display: inline-block;
  border-radius: 99999px;
  width: 10px;
  height: 10px;
}
